{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "no-undef": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true
    }
}