@keyframes drawLine {
    from {
        stroke-dashoffset: var(--line-length);
    }
    to {
        stroke-dashoffset: 0;
    }
}

.button {
    padding: 0;
    border: 2px solid var(--mantine-color-grape-6);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.buttonFilled {
    background-color: var(--mantine-color-grape-6);
}

.buttonDisabled {
    cursor: default;
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.drawingLine {
    stroke-dasharray: var(--line-length);
    stroke-dashoffset: var(--line-length);
    animation: drawLine 0.1s ease-out forwards;
}

